<html>
    <head>
     <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap.css') }}">
      <script src="{{ url_for('static',filename='scripts/jquery.js') }}"></script>
      <script type=text/javascript>
      $(document).ready(function () {
          $(function() {
            $('button#like_button').click(function() {
                var video_date = $(this).closest('tr')
                  .prev()
                  .find('td.video_date')
                  .html();
                var video_link = $(this).closest('tr')
                  .prev()
                  .prev()
                  .find('td.video_link')
                  .find('a')
                  .attr('href');
                var video_title = $(this).closest('tr')
                  .prev()
                  .prev()
                  .find('td.video_link')
                  .find('.video_title')
                  .html();
                var button = $(this);

                $.ajax({
                    url: '/addVideo',
                    data: JSON.stringify({date: video_date, link:video_link, title:video_title}),
                    type: 'POST',
                    success: function(response) {
                        var cell = button.closest('td');
                        if(cell.children('i').length==0) {
                          cell.append('<i> Added song!</i<');
                        }
                    },
                    error: function(response) {
                        console.log("Something went wrong! See response below" )
                        console.log(response)
                    },
                    dataType: "json",
                    contentType: 'application/json;charset=UTF-8'

                });
            });

            
          });
        });
      </script>


      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>Welcome!</title>
      {% endif %}
    </head>
    <body>
       {% block body %}
        {% endblock %}
    </body>

</html>