<div>
  <h2>Search results</h2>
    <table border=0>
      {% for vid in videos_yt %}
        <tr>
            <td rowspan="2"><img src="{{vid.thumbnail}}"></td>
            <td class="video_id"><a class = "play_id" id="{{vid.id}}" href="#"><h4 class="video_title">{{vid.title}}</h4></a></td>
            <tr><td class="video_date">{{vid.date}}</td></tr>
            
        </tr>
      {% endfor %}
  
    </table>
</div>
<script src="{{ url_for('static',filename='scripts/search.js') }}"></script>
<script src="{{ url_for('static',filename='scripts/player.js') }}"></script>