<h2>Liked songs</h2>
{% if message %}
<h5>{{message}}</h5>
{% endif %}
<a id="delete_all" href="#">Delete all songs</a>
<table border=0>
    {% for song in songs %}
      <tr>
          <td rowspan="3"><img src="https://img.youtube.com/vi/{{song.song_link}}/default.jpg"></td>
          <td class="video_id"><a class = "play_id" id="{{song.song_link}}" href="#"><h5 class="video_title"><strong>{{song.song_title}}</strong></h5></a></td>
          <tr><td class="video_date"><h5>{{song.song_artist}}</h5></td></tr>
          <tr><td class="video_date">{{song.tags}}</td></tr>
          
      </tr>
    {% endfor %}

</table>

<script src="{{ url_for('static',filename='scripts/show_all.js') }}"></script>
<script src="{{ url_for('static',filename='scripts/player.js') }}"></script>
